:root {
    --primary-color: #2b6b42;
    --primary-light: #3a8a57;
    --text-color: #333;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', 'IBM Plex Sans Arabic', sans-serif;
    direction: rtl;
    overflow-x: hidden;
}


#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

.cairo-font {
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.ibm-plex-sans-arabic-regular {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: 400;
    font-style: normal;
}